<div class="banner" style="background-image: url(<%= asset_path 'banner-image.png' %>)">
  <div class="container">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
    <h1>La masco tienda de rhyma</h1>
  </div>
</div>
