<footer class="footer">
  <div class="container py-5 d-flex flex-column align-items-center">
    <h2 class="footer_title">PetCity.</h2>
    <div class="footer-links">
  </div>
    <div class="footer-copyright">
      This footer is made with <i class="fas fa-heart"></i> at Le Wagon
    </div>
    <div class="social_link d-flex gap-3 mt-3">
      <a class="nav-link" href="#"><i class="fab fa-github"></i></a>
      <a class="nav-link" href="#"><i class="fab fa-instagram"></i></a>
      <a class="nav-link" href="#"><i class="fab fa-facebook"></i></a>
      <a class="nav-link" href="#"><i class="fab fa-twitter"></i></a>
      <a class="nav-link" href="#"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
</footer>
