:root {
  --gradient: linear-gradient(to left top, #A72879 10%, #064497 90%);
  --gradientHover: linear-gradient(to left top,  #064497 10%, #A72879 90%);
}

.card {
  background: white;
  border: 1px solid #5543CA;
  color: black;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
  border-radius: .5rem;
}

.card-title {
  padding-left: 15px;
  text-align: left;
  font-family: Nunito;
  color: #5543CA;
  font-weight: bold;
  font-size: 1.3rem;
  margin: 0;
}

.btn.btn-details {
  font-weight: bold;
  border: 5px solid;
  border-image-slice: 1;
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-image-source:  var(--gradient);
  text-decoration: none;
  transition: all .6s ease;
}
.btn-details2{
  font-weight: bold;
  background: var(--gradient);
  border-radius: 1rem;
  text-decoration: none;
  transition: all .6s ease;
  color: var(--white);
  border: none;
}
.btn-details2:hover{
  background: var(--gradientHover);
  color: var(--white);
}
.btn.btn-details:hover, .btn.btn-details:focus {
  background: var(--gradient);
  -webkit-background-clip: none;
  -webkit-text-fill-color: #fff;
  border: 5px solid #fff;
  box-shadow: #222 1px 0 10px;
}
