:root {
  --gradient: linear-gradient(to left top, #F4524D 10%, #5543CA 90%) !important;
}

.card {
  background: white;
  border: 1px solid #5543CA;
  color: black;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
}

.card-title {
  padding-left: 15px;
  text-align: left;
  font-family: Nunito;
  color: #5543CA;
  font-weight: bold;
}

.btn.btn-details {
  font-weight: bold;
  border: 5px solid;
  border-image-slice: 1;
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-image-source:  var(--gradient);
  text-decoration: none;
  transition: all .4s ease;
}

.btn.btn-details:hover, .btn.btn-details:focus {
  background: var(--gradient);
  -webkit-background-clip: none;
  -webkit-text-fill-color: #fff;
  border: 5px solid #fff;
  box-shadow: #222 1px 0 10px;
}
