.footer{
  background-color: var(--color-primary);
  color: var(--White);
}

.footer .footer_title{
  color: var(--White);
  font-weight: 800;
}
.footer .nav-link{
  color: var(--White);
}
.footer .nav-link:hover{
  color: var(--White);
}
