
<div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <%= cl_image_tag product.photo.key, class: "card_img" %>
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center mb-4">
        <h3 class="title card-title"><%= product.title %></h3>
        <p class="card-text"><%= product.price %>$</p>
      </div>
      <%= link_to "Detalles", product_path(product), class: "btn btn-details2 mr-2" %>
    </div>
  </div>
</div>
