<section class="section-thanks">
<h1><i class="fas fa-shopping-cart"></i>
<br>
Gracias por su compra!</h1>
<br>
<p>¡Gracias por elegirnos para consentir a tu mascota! Valoramos tu confianza y esperamos verte de nuevo pronto.</p>
<div>
<%= link_to "Mas Productos", products_path, class: "btn btn-ligh bg-white" %>
<%= link_to "Mi cuenta", user_path(current_user), class: "btn btn-ligh bg-white" %>
</div>


</section>
