
<div class="container">
  <h1 class="mt-4"> Productos</h1>
  <div class="container mx-auto mt-4">
    <div class="row">
      <% @products.each do |product| %>
        <%= render product %>
      <% end %>
    </div>
    <% if @products.length == 0 %>
      <p>No existen productos en stock.</p>
    <% end %>
  </div>
</div>
