<h1>Products#index</h1>
<p>Find me in app/views/products/index.html.erb</p>

  <% @products.each do |product| %>
    <div class="container" style="background-color:#D9D9D9; padding: 10px; margin: 10px;">
      <%= link_to product.title, product_path(product) %>
      <p>stock: <%= product.stock %></p>
      <p>price: <%= product.price %></p>
    </div>
  <% end %>

<% if @products %>
  <p>No existen productos en stock.</p>
<% end %>
